form .uk-search-field {
    width: 85px;
}
.chosen-container-multi .chosen-choices {
    background: none;
}
.uk-form-controls .chosen-container .chosen-choices {
    padding: 0 3px;
}
.chosen-container-multi .chosen-choices li.search-choice {
    background: white !important;
}
.chosen-container-single .chosen-single {
    background: white !important;
    border-radius: 3px !important;
}
.chosen-container-multi .chosen-choices {
    padding: 0 3px !important;
    border-radius: 3px !important;
    box-shadow: none !important;
}
.ui-slider .ui-slider-handle {
    width: 15px !important;
    height: 15px !important;
}
.ui-widget.ui-widget-content {
    height: 5px !important;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -6px !important;
}
.ui-widget.ui-widget-content {
    margin-bottom: 25px !important;
}
.ui-slider {
    width: 92% !important;
    margin:0 auto !important;
}
.filter input[type=text] {
    width: 100%;
}
.price-font {
    font-size: 20px;
}